@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  height: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.app {
  width: 380px;
  min-height: 740px;
  // overflow: auto;
  margin: 1rem auto;
  border: 4px solid #000;
  border-radius: 10px;
}

.splash-screen {
  background: url("/images/doctor.jpg") no-repeat;
  background-size: cover;
  padding-top: 1rem;
}

.splash-headline {
  color: #fff;
  font-size: 3rem;
  line-height: 1.25;
  text-align: left;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

.icd-form {
  margin-top: 450px;
}

#icd {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.progress {
  margin: 1rem 0;

  .progress-bar {
    background: #007bff !important;
  }
}

.google-map {
  position: relative !important;
  width: 340px !important;
  height: 200px !important;
  margin-bottom: 1rem;
}

.map-places {
  .number {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    background: #f75c50;

    margin-right: 0.5rem;
  }
}

.tips,
.tasks {
  h3 {
    font-size: 1.25rem;
  }

  .list-group-item {
    margin-bottom: 1.5rem;
  }
}

.tasks {
  .list-group-item {
    margin-bottom: 1rem;
  }

  .done {
    text-decoration: line-through;
  }
}
